.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #026CDF;
  z-index: 1;

  &>* {
    margin: 0;
  }

  &.success {
    background-color: var(--green);
  }

  &.fail {
    background-color: var(--error);
  }
}

.title {
  font-size: 24px;
  z-index: 2;
}

@keyframes flash-success {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: var(--green);
  }
}

@keyframes flash-fail {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: var(--error);
  }
}

.scannerHole {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  max-width: 480px;
  height: 60vw;
  max-height: 480px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.7);
  border-radius: 5%;


  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 20%;
    border: 5px solid white;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    will-change: border-color;
  }

  &.success::before,
  &.success::after {
    animation: flash-success 500ms infinite;
  }

  &.fail::before,
  &.fail::after {
    animation: flash-fail 500ms infinite;
  }

  &::before {
    top: 0;
    left: 0;
    border-bottom: none;
    border-right: none;
  }

  &::after {
    right: 0;
    bottom: 0;
    border-top: none;
    border-left: none;
  }
}



.video {
  width: 100vw;
  min-height: 480px;
  z-index: 0;
}

.metadata {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  font-size: 16px;
  padding: 12px;
  width: 80vw;
  z-index: 2;

  &>* {
    margin: 0;
    text-align: center;
  }
}