.baseButton {
  align-items: center;
  background: var(--hot-pink);
  border-radius: 16px;
  border: 1px solid transparent;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 23px;
  font-weight: 500;
  height: 60px;
  justify-content: center;
  padding: 18px 20px;
  width: 320px;
  transition: all 200ms ease;

  &:hover {
    background: #9c0059;
    border-radius: 16px;
    box-shadow: var(--pink-shadow);
  }

  &:disabled {
    background-color: hsla(326 96% 52% / 0.15);
    border: 1px solid transparent;
    box-shadow: unset;
    color: var(--white);
    cursor: not-allowed;
    outline: none;
  }
}

.black {
  background: var(--black);
}

.pink {
  background: var(--hot-pink);
}
